{% extends 'userauth/base.html' %}
{% load static %}
    {% block content %}
        <div>
            <img class="profilePic" src="{{ user.userprofile.image.url }}">
            <h3 class="line">{{ user.username }}</h3>
            {% if user.userprofile.bio %}
                <h4>Bio: {{ user.userprofile.bio }}</h4>
            {% else %}
                <h4>Bio: Bio has not been provided</h4>
            {% endif %}
            <h4>Age: {{ user.userprofile.age }}</h4>
            <h4>Home Address: {{ user.userprofile.address }}</h4>
            <h4>Phone Number: {{ user.userprofile.phoneNumber }}</h4>
            <h4>Email: {{ user.email }}</h4>
            <h4>Joined on: {{ user.date_joined|date:"F d, Y" }}</h4>
            {% if request.user  == user  %}
                <a href="{% url 'userupdate' %}">Update Profile</a>
            {% endif %}
        </div>

    {% endblock content %}